:root {
  --c-primary: #eb2f64;
  --c-primary-light: #ff3366;
  --c-primary-dark: #ba265d;
  --c-grey-light-1: #faf9f9;
  --c-grey-light-2: #f4f2f2;
  --c-grey-light-3: #f0eeee;
  --c-grey-light-4: #ccc;
  --c-grey-dark-1: #333;
  --c-grey-dark-2: #777;
  --c-grey-dark-3: #999;
  --sh-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

/*//* don't forget to force all elements to inherit the 'border-box' property */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--c-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--c-primary-light), var(--c-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  /*//* just in case the content doesn't fully fill the screen */
  min-height: 100vh; }

/*//?===============  HEADER SECTION  ================*/
/*//?----------  MAIN LOGO  ----------*/
.logo {
  height: 3.25rem;
  margin-left: 2rem; }

/*//?----------  SEARCH INPUT FIELD ----------*/
.search {
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    /*//* the following props don't all inherit unless specifically told to, but then will look up the parent tree until they find the 'prop:value', could be direct parent all the way up to the html tag. */
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--c-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    /*//* a high value will provide the rounded corners */
    border-radius: 100px;
    width: 90%;
    /*//* extend input field over to where button w/ icon were */
    margin-right: -2rem;
    transition: all 0.2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--c-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--c-grey-light-4); }
  .search__button {
    border: none;
    background-color: transparent;
    /*//* move button (w/ icon) on top of the input field */
    position: relative;
    right: 1rem; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--c-primary); }

/*//?----------  USER NAVIGATION / DETAILS ----------*/
.user-nav {
  /*//* have entire element vertically fill the 'header' parent */
  align-self: stretch;
  display: flex;
  align-items: center;
  /*//* all direct children (__icon-box(es) and __user) */ }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    /*//* needed so background-color will fill the space when hovered */
    height: 100%;
    /*//* vertically center the contained elements (__icon(s) and __user-photo/name) */
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--c-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--c-grey-dark-2); }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--c-primary-light);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    /*//* !!!!  FLEXBOX WILL ALSO WORK ON THE TEXT CONTENT WITHIN AN ELEMENT !!!! */
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

/*//?===============  SIDE-BAR NAVIGATION SECTION  ================*/
/*//?----------  NAVIGATION  ----------*/
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative;
    /*//* when Javascript code applies the class 'active' (depending on which page is currently loaded) apply this same hover styling to the '::before' pseudo-element */
    /*//* this the ':active' pseudo class (applies when clicked), DIFFERENT than the 'active' class seen above that would be controlled by Javascript in a real app */ }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-nav__item::before {
      /*//* remember, you need to add the 'content' property first */
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background-color: var(--c-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .side-nav__item:hover::before, .side-nav__item.active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: var(--c-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--c-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    /*//* z-index only works if the 'position' is specified */
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    /*//* uses the color of the current or parent element (.side-nav__link).  would also follow any color changes created by a hover */
    fill: currentColor; }

/*//?----------  LEGAL  ----------*/
.legal {
  font-size: 1.2rem;
  color: var(--c-grey-light-4);
  text-align: center;
  padding: 2.5rem; }

/*//?===============  HOTEL OVERVIEW  ================*/
/*//?----------  GALLERY  ----------*/
.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

/*//?----------  OVERVIEW  ----------*/
.overview {
  display: flex; }
  .overview__stars {
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--c-primary); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--c-grey-light-1);
  box-shadow: var(--sh-dark);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--c-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--c-grey-dark-1);
  flex: 0 1 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1;
  height: 80rem; }
